@media (min-width: 992px) {

  .country{
    display: flex;
    justify-content: center;
    column-gap: 30%;
    text-align: center;

    button{
      background-color: transparent;
      border: none;

      display: flex;
      align-items: center;
      flex-direction: column;
      row-gap: 10px;
      color: #fff;

      &:hover{
        text-decoration: underline;
      }
    }

    aside{
      width: 100px;
      height: 100px;
      border-radius: 50%;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    
      &.kr{
        background-color: #FFFFFF;
        @include bgImg("https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/2560px-Flag_of_South_Korea.svg.png", contain);
      }
    
      &.ca{
        background-color: #d61017;
        @include bgImg("https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Flag_of_Canada_%28Pantone%29.svg/2880px-Flag_of_Canada_%28Pantone%29.svg.png", contain);
      }
    }
  }
}